# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
backend/models/diabetes_model.json
backend/uploads/

# Node
node_modules/
dist/
dist-ssr
*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
